# Git submodule definition file
#
# Reference:
#
# * Git - gitmodules Documentation
#   https://git-scm.com/docs/gitmodules
#
# Copyright 2021 林博仁(Buo-ren, Lin) <Buo.Ren.Lin@gmail.com>
# SPDX-License-Identifier: CC-BY-SA-4.0
[submodule "The Common .gitignore Templates"]
	path = The Common .gitignore Templates
	url = https://github.com/the-common/gitignore-templates.git
	ignore = dirty
[submodule "The Common Gitattributes Template"]
	path = The Common Gitattributes Template
	url = https://github.com/the-common/gitattributes-templates.git
	ignore = dirty
[submodule "Git 版本控制忽略規則範本"]
	path = Git 版本控制忽略規則範本
	url = https://github.com/brlin-tw/Git_ignore_rules_template.git
	ignore = dirty
[submodule "gitignore - A collection of useful .gitignore templates"]
	path = gitignore - A collection of useful .gitignore templates
	url = https://github.com/github/gitignore.git
	ignore = dirty
[submodule "Unofficial Snap Packaging for git filter-repo"]
	path = Unofficial Snap Packaging for git filter-repo
	url = https://github.com/brlin-tw/git-filter-repo-snap.git
	ignore = dirty
[submodule "vcsh-git: 林博仁(Buo-ren Lin)'s preferred Git configuration"]
	path = vcsh-git: 林博仁(Buo-ren Lin)'s preferred Git configuration
	url = https://github.com/brlin-tw/vcsh-git.git
	ignore = dirty
